<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Result</title>
    <style>
       body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            background-image: url('/images/image3.jpg');
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        td img {
            max-width: 50px;
            max-height: 50px;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Live Result</h1>
        <table>
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Party Name</th>
                    <th>Party Logo</th>
                    <th>Votes Count</th>
                </tr>
            </thead>
            <tbody>
                <% candidates.forEach((candidate, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= candidate.party_name %></td>
                        <td><img src="/images/party_logos/<%= candidate.party_logo_path %>" alt="<%= candidate.party_name %> Logo"></td>
                        <td><%= candidate.votes %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <p>Total Votes: <%= totalVotes %></p>
    </div>
</body>
</html>
